@{
    ViewBag.Title = "Erro";
}

@section header
{
    <h1 class="ui header">
        <span class="content gt-text-uppercase">@ViewBag.Title</span>
    </h1>
}

<style>
    h1 {font-size: 30px;color: red}
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    a { color: #dc8100; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Erro! </h1>
    <div>
        <p>Desculpe pelo transtorno, mas não foi possível processar esta requisição.</p>
        <div class="ui divider gt-mtb-2rem"></div>
        <div class="field">
            <button onclick="window.history.back()" class="ui button right floated gt-text-uppercase" type="submit">
                <i class="ui backward icon"></i>
                Voltar
            </button>
        </div>
    </div>
</article>