@using MrRondon.Infra.Security.Helpers
@model int
<div class="ui vertical fluid right tabular menu">
    <div class="item header gt-p-0" data-responsive>
        <a onclick="javascript: GT.OnpenSubMenu(this);" class="large ui circular icon basic button">
            <i class="sidebar icon"></i>
        </a>
    </div>
    @if (Account.Current.HasAny("Administrador_Geral", "Administrador_Memorial", "Consulta"))
    {
        <a class="item @(Model == 1 ? "active" : string.Empty)" href="@Url.Action("Index", "HistoricalSight", new { area = "Admin" })">
            Todos Patrimônios Históricos
        </a>
        if (Account.Current.HasAny("Administrador_Geral", "Administrador_Memorial"))
        {
            <a class="item @(Model == 2 ? "active" : string.Empty)" href="@Url.Action("Create", "HistoricalSight", new { area = "Admin" })">
                Adicionar Memorial
            </a>
        }
    }
</div>