@using MrRondon.Infra.CrossCutting.Helper
@using MrRondon.Infra.Security.Helpers
@model int
<div class="ui vertical fluid right tabular menu">
    <div class="item header gt-p-0" data-responsive>
        <a onclick="javascript: GT.OnpenSubMenu(this);" class="large ui circular icon basic button">
            <i class="sidebar icon"></i>
        </a>
    </div>
    @if (Account.Current.HasAny(Constants.Roles.GeneralAdministrator, Constants.Roles.CompanyAdministrator, Constants.Roles.ReadOnly))
    {
        <a class="item @(Model == 1 ? "active" : string.Empty)" href="@Url.Action("Index", "Company", new { area = "Admin" })">
            Todas Empresas
        </a>
        if (Account.Current.HasAny(Constants.Roles.GeneralAdministrator, Constants.Roles.CompanyAdministrator))
        {
            <a class="item @(Model == 2 ? "active" : string.Empty)" href="@Url.Action("Create", "Company", new { area = "Admin" })">
                Adicionar Empresa
            </a>
        }
    }
</div>