@using System.Web.Optimization
@using MrRondon.Presentation.Mvc.Extensions
@model MrRondon.Presentation.Mvc.ViewModels.RecoveryPasswordVm
@{ViewBag.Title = "Recuperação de Senha";}
<div class="ui stacked segment" style="width: 100%; max-width: 450px;margin: -70px auto 0 auto;position: relative;z-index: 1;">
    <h1 class="ui center aligned header gt-text-uppercase" style="margin: 1em 0">@ViewBag.Title</h1>
    @using (Html.BeginForm("RecoveryPassword", "Account", FormMethod.Post, new { @class = "ui large form" }))
    {
        @Html.AntiForgeryToken()
        <div class="field">
            <div class="ui right icon input">
                <i class="user icon"></i>
                @Html.SemanticTextCpfFor(model => model.UserName, new { placeholder = "CPF" })
            </div>
        </div>
        <div class="field">
            <button type="submit" class="ui fluid large blue button gt-text-uppercase">Enviar E-mail</button>
        </div>
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/validation")
}