@model int
<div class="ui vertical fluid right tabular menu">
    <div class="item header gt-p-0" data-responsive>
        <a onclick="javascript: GT.OnpenSubMenu(this);" class="large ui circular icon basic button">
            <i class="sidebar icon"></i>
        </a>
    </div>
    <a class="item @(Model == 1 ? "active" : string.Empty)" href="@Url.Action("Index", "Category", new { area = "Admin" })">
        Todas Categorias
    </a>
    <a class="item @(Model == 2 ? "active" : string.Empty)" href="@Url.Action("Create", "Category", new { area = "Admin" })">
        Adicionar Categoria
    </a>
</div>