<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Conexao"
         connectionString="Data Source=104.245.37.157,1433;Initial Catalog=Teste-MrRondon;Persist Security Info=True;User ID=sa;Password=GY#104@SrV"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" xdt:Transform="RemoveAttributes(debug)" />
    <globalization uiCulture="pt-BR" culture="pt-BR" requestEncoding="utf-8" responseEncoding="utf-8" enableClientBasedCulture="false" xdt:Transform="RemoveAttributes(debug)"/>
  </system.web>
</configuration>